<!--<?xml version='1.0' encoding='utf-8'?>-->
<!--<!DOCTYPE hibernate-configuration PUBLIC-->
        <!--"-//Hibernate/Hibernate Configuration DTD//EN"-->
        <!--"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->
<!--<hibernate-configuration>-->
    <!--<session-factory>-->
        <!--<property name="connection.url">jdbc:sqlserver://localhost:1433;database=library</property>-->
        <!--<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>-->
        <!--<property name="connection.username">sa</property>-->
        <!--<property name="connection.password">123456</property>-->
        <!--<mapping class="com.libraryserTable"/>-->
        <!--<mapping resource="com/library/data/UserTable.hbm.xml"/>-->
        <!--<mapping resource="com/library/data/BookBrowse.hbm.xml"/>-->
        <!--<mapping class="com.libraryookBrowse"/>-->
        <!--<mapping class="com.libraryooks"/>-->
        <!--<mapping resource="com/library/data/Books.hbm.xml"/>-->
    <!--</session-factory>-->
<!--</hibernate-configuration>-->